.deps/
.local/
build*/
ui/node_modules/
ui/dist/
.vs/
/Cassian.exe
/Cassian-Setup.exe
/Cassian-Windows.zip
*.user
Testing/Temporary/
assets/models/*
!assets/models/.gitkeep
assets/irs/*
!assets/irs/.gitkeep
assets/sound-bank/*
!assets/sound-bank/.gitkeep
